{% extends "./admin/base_site.html" %}
{% block title %}自动化测试平台{% endblock %}
{% block breadcrumbs %}
    <div class="breadcrumbs">
      <a href="/index/"><strong>首页</strong></a>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="/upload_case/"><strong>批量测试</strong></a>
      &nbsp;&nbsp;&nbsp;&nbsp;<a href="/index/"><strong>测试工具</strong></a>
    </div>
{% endblock %}
{% block content %}
{% block branding %}
<h1 id="site-name">
  <a href="/index/">自动化测试平台</a>
</h1>
{% endblock %}
<div class="header-wrapper">
</div>
    <form action="/invoice/" method="post" enctype="multipart/form-data" id="form-model">
      <div>
          <td class="text-left" width="100">发票编号</td><input name="num" value="{{invoice_value}}">
          &nbsp;&nbsp;&nbsp;&nbsp;<input type="submit" value="OK">
      </div>
    </form>




{% endblock %}